{% load static %}

<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link collapsed" href="/">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li>

      <li class="nav-item">
        <a data-id="employee_nav" class="nav-link collapsed" href="{% url 'list-employee' %}">
          <i class="bi bi-person"></i>
          <span>Employee</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="#">
          <i class="bi bi-person"></i>
          <span>Employee</span>
        </a>
      </li>
    </ul>
</aside>